## print collaboration block here
#foreach ($element in $collaborationElements)
<$element.name $element.attributes>
	#foreach ($sub in $subElements)
	 #if ($element.name == $sub.elName)
		<$sub.subName $sub.attributes />
	#end
	#end
<$element.name />
#end

#foreach ($element in $simpleElements)
<$element.name $element.attributes />
#end

#foreach ($element in $complexElements)
<$element.name $element.attributes>
	#foreach ($sub in $subElements)
	 #if ($element.name == $sub.elName)
		<$sub.subName $sub.attributes>$sub.text<$sub.subName/>
		#end
	#end
<$element.name />
#end


