## template for the whole bpmn document
<?xml version="1.0" encoding="UTF-8"?>
<definitions id="Definition"
             targetNamespace= "http://sourceforge.net/bpmn/definitions/_1421940801539"
             typeLanguage= "http://www.w3.org/2001/XMLSchema"
             expressionLanguage= "http://www.w3.org/1999/XPath"
             xmlns= "http://www.omg.org/spec/BPMN/20100524/MODEL"
             xmlns:xsd= "http://www.w3.org/2001/XMLSchema"
             xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation= "http://www.omg.org/spec/BPMN/20100524/MODEL http://bpmn.sourceforge.net/schemas/BPMN20.xsd">

#set($counter = 2)             
## collaboration definition
<collaboration id="COLLABORATION_1" isClosed="false">
#foreach ($pool in $pools)
 <participant id="_$counter" name="$pool.name" processRef="PROCESS_$counter">
      <participantMultiplicity maximum="1" minimum="0"/>
 </participant>
#set ($counter = ($counter + 1))
#end
</collaboration>

#set($counter = 2)
#foreach ($pool in $pools)        
	<process id = "PROCESS_$counter" isExecutable = "false" processType = "None" name = "ProcessName">
		#parse ("vmTemplates/process.vm" )
	</process>
	#set ($counter = ($counter + 1))
#end

#if ($database == "Y")
 <dataStore id="DS_1" isUnlimited="false" />
 #end
</definitions>