## db output node
#foreach ($edge in $edges)
	#if ($edge.from == $node.id && $edge.toKind == "Datastore")
	<task id="_$node.id" name="$node.name">
     	<ioSpecification>
   		 <dataOutput id="Dout_${node.id}_$edge.to" isCollection="false"/>
        <inputSet/>
        <outputSet>
          <dataOutputRefs>Dout_${node.id}_$edge.to</dataOutputRefs>
        </outputSet>
      </ioSpecification>
      </task>
	#end
#end
