## edges
#set ($edgeFromGateway = 0)
#if($edgeTo != $edge.to)
#set ($edgeFromGateway = 2)
#end
#if($edge.fromKind != "Datastore" && $edge.toKind != "Datastore" && $edge.fromEngine == $engine.name && $edge.toEngine == $engine.name && $edge.toOpType != "Join" && $edge.toOpType != "LeftOuterJoin")
<sequenceFlow id="_${edge.from}-_$edge.to" sourceRef="_$edge.from" targetRef="_$edge.to" /> 
#elseif ($edge.fromKind != "Datastore" && $edge.toKind != "Datastore" && $edge.fromEngine == $engine.name && $edge.toEngine == $engine.name &&
			($edge.toOpType == "Join" || $edge.toOpType == "LeftOuterJoin"))
<sequenceFlow id="_${edge.from}-_0$gatewayCounter" sourceRef="_$edge.from" targetRef="_0$gatewayCounter" /> 
#set ($edgeTo = $edge.to)
	#if ($edgeFromGateway < 1 )
	<parallelGateway gatewayDirection="Converging" id="_0$gatewayCounter" name="Parallel Gateway $gatewayCounter"/>
	<sequenceFlow id="_0${gatewayCounter}-_$edge.to" sourceRef="_0$gatewayCounter" targetRef="_$edge.to" /> 
	#set ($gatewayCounter = ($gatewayCounter + 1))
	#end
#end


   