## nodes
#if($node.type == "Datastore" && ($node.optype == "TableInput" || $node.optype == "TableOutput"))
	<dataStoreReference id = "_$node.id" name = "$node.name"/>
#else
	<task id="_$node.id" name="$node.name" />
#end
