## nodes
#if($node.type == "Datastore" && $node.optype == "TableOutput" )
	<dataStoreReference dataStoreRef="DS_1" id = "_$node.id" name = "$node.name"/>
	#set( $database = "Y")
	
#elseif($node.type == "Datastore" && $node.optype == "TableInput" )
	<dataStoreReference dataStoreRef="DS_1" id = "_$node.id" name = "$node.name"/>
	#set( $database = "Y")
	
#elseif($node.type == "Datastore" && ($node.optype == "FileInput" || $node.optype == "XMLInput" || $node.optype == "ExcelInput"))
	<ioSpecification>
      <dataInput id="_$node.id" isCollection="false" name="$node.name"/>
      <inputSet>
        <dataInputRefs>_$node.id</dataInputRefs>
      </inputSet>
      <outputSet/>
    </ioSpecification>
	
#elseif($node.type == "Datastore" && ($node.optype == "FileOutput" || $node.optype == "XMLOutput" || $node.optype == "ExcelOutput"))
	 <ioSpecification>
      <dataOutput id="_$node.id" isCollection="false" name="$node.name"/>
      <inputSet/>
      <outputSet>
        <dataOutputRefs>_$node.id</dataOutputRefs>
      </outputSet>
    </ioSpecification>
     
#elseif($node.type == "Operator" && ($node.optype == "Router" || $node.optype == "Splitter"))
	<parallelGateway gatewayDirection="Diverging" id="_$node.id" name="$node.name"/>
#elseif($node.type == "Operator" && ($node.optype == "Union" || $node.optype == "Merger"))
	<parallelGateway gatewayDirection="Converging" id="_$node.id" name="$node.name"/>
#elseif($node.type == "Operator" && $node.optype == "Voter")
	<eventBasedGateway id="_$node.id" gatewayDirection="Mixed"/>	
#else <task id="_$node.id" name="$node.name" />
#end
