## inside each process
#set ($nonEmptyProcess = "N")
#set ($gatewayCounter = 2)


#foreach($node in $nodes)
	#if($node.engine == $pool.engine && $node.flowID == $pool.flow)
	#set ($nonEmptyProcess = "Y")
		#if($node.hasInput == "Y")
			#parse( "vmTemplates/dbInputNode.vm" )
		#elseif ($node.hasOutput == "Y")
			#parse( "vmTemplates/dbOutputNode.vm" )
		#else
			#parse( "vmTemplates/node.vm" )
	#end
#end
#end

#if ($nonEmptyProcess == "Y")

<startEvent id="_0001" name="StartProcess"/>
<endEvent id="_0009" name="EndProcess">
 	<terminateEventDefinition/>
</endEvent>
## edges from start event
#foreach ( $source in $sources )
	#if ($source.size == 1)
		#parse ( "vmTemplates/start.vm" )
	#else
		#parse ( "vmTemplates/startWithGateway.vm" )
	#end
#end

#end

#if ($divergingGateway == "Y")
<parallelGateway gatewayDirection="Diverging" id="_001" name = "Parallel Gateway 1"/>
<sequenceFlow id="_0001-_001" sourceRef="_0001" targetRef="_001" />
#end

## middle edges
#foreach( $edge in $edges )
	#parse( "vmTemplates/edge.vm" )
#end 

#if ($nonEmptyProcess == "Y")

## edges to end event
#foreach( $target in $targets )
	#if ($target.size == 1)
		#parse ( "vmTemplates/end.vm" )
	#else
		#parse ( "vmTemplates/endWithGateway.vm" )
	#end
#end 

#end

#if ($convergingGateway == "Y")
<parallelGateway gatewayDirection="Converging" id="_009" />
<sequenceFlow id="_009-_0009" sourceRef="_009" targetRef="_0009" />
#end
